<li class="nav-item" role="presentation">
    <button class="nav-link" id="location-scene-abilities-tab" data-bs-toggle="tab" data-bs-target="#location-scene-abilities-pane" type="button" role="tab" aria-controls="location-scene-abilities-pane" aria-selected="false">
        Abilita
    </button>
</li>
